{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.5.0/ol.css">
</head>
<body>
    <h1> Карта будет тут </h1>
    <div id="js-map" class="map"></div>
    <script src="https://cdn.jsdelivr.net/npm/ol@v7.5.0/dist/ol.js"></script>
    <!--<script src="../../static/ol/dist/ol.js"></script>
    <script src="../../static/ol/proj.js"></script>-->
    <script src="../../static/map.js"></script>
    <h1> Тут карта закончится)) </h1>
</body>
</html>